/* Resetting default styles and applying a base font-size */
body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #f8f5f0;
    /* Pastel gray background color */
    color: #888;
    /* Light pastel text color */
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Main container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Title styles */
h1 {
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

/* Button styles */
button {
    background-color: #9bc2c9;
    /* Slightly darker pastel light blue */
    color: #fff;
    /* White text */
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #87aeb9;
    /* Slightly darker pastel light blue on hover */
}


/* Credits section styles */
.credits {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f8f5f0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.credits p {
    margin: 5px 0;
    font-size: 14px;
}

.credits a {
    color: #03858b;
    text-decoration: none;
    font-size: 14px;
}

.credits a:hover {
    text-decoration: underline;
}

/* Sidenav styles */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9bc2c9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #87aeb9;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}